<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container-fluid">
        <h1>Axon Quiz</h1>
        <div class="quiz-sheet">
            <form method="POST" role="form">
                <fieldset>
                    <div class="radio .disabled question-block">
                        <div class="question"><%= questions[0].label %></div>
                        <div class="answers-block">
                            <% for ( i = 0; i < questions[0].answer_choices.length; i++) { %>
                                <div class="radio form-group">
                                    <label>
                                        <input type="radio" name="<%= questions[0].label %>" value="<%= questions[0].answer_choices[i] %>">
                                        <%= questions[0].answer_choices[i] %>
                                    </label>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">submit answers</button>
            </form>
        </div>
    </div>
</body>
</html>
