<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container-fluid">
        <h1>Done Taking Axon Quiz!</h1>
        <h4> Here's your score: <%= result %></h4>
    </div>
</body>
</html>
