<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container-fluid">
        <h1>Done Taking Axon Quiz!</h1>
        <h4> Here's your score: <%= result %></h4>

        <br>
        <h4>Here's a resource to help you improve your Axon knowledge:<a href="http://www.axonframework.org/docs/2.4/"> Axon Reference </a></h4>
        <br>
        <h4>To submit Axon questions you'd like to see hosted, please send an email to ntetteh@thoughtworks.com</a></h4>
    </div>
    <a href="/>Back</a>
</body>
</html>
